// import google font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// global styles

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f5f7;
}

h1 {
  font-size: 3rem;
  margin-bottom: 18px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 18px;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 18px;

}

h5 {
  font-size: 1.1 rem;
  margin-bottom: 18px;

}

p {
  font-size: 1rem;
  line-height: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: auto;
}

section {
  padding: 100px 0;
  margin: 4px 0;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;

}

// reusable classes

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-center {
    justify-content: center;
    align-items: center;
  }
}

.gap-30 {
  gap: 30px;

}

.br-10 {
  border-radius: 10px;
}

.text-center {
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.text-white {
  color: #fff;
}

.bg-primary {
  background-color: rgb(255, 207, 91);
}


// Hero section 

.hero {
  position: relative;
  height: 65vh;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }

  &-content {
    max-width: 400px;
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);

    p {
      font-size: 1.1rem;
    }
  }
}

//  Special Dishes
.special-dishes {
  &-content {
    margin: auto;
    max-width: 600px;
  }

  &-items {
    margin-top: 60px;

    li {
      // flex: 1;

      img {
        width: 200px;
      }

      h5 {
        margin-top: 10px;
        font-weight: 600;
      }
    }
  }
}

//  Filtered dishes section

.filtered-dishes {
  &-items {
    margin-top: 30px;

    li {
      background-color: #d81221;
      padding: 12px 30px;
      border-radius: 30px;
      margin-right: 20px;
      margin-bottom: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-in-out;


      &:hover,
      &.active {
        background-color: #ffcf5b;
        color: #000;
      }
    }
  }


 &-menu {
    margin-top: 60px;

    li {
      // flex: 1;

      img {
        width: 200px;
      }

      h5 {
        margin-top: 10px;
        font-weight: 600;
      }
    }
  } 

}

.loader{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  
  h1{
    color: #fff;
  }
}